/* Card.css */
.card-container {
    width: 75%;
}

.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    width: 90vw;
    place-items: center;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
}

.container {
    display: inline-grid;
    background-color: #ebecee;
    border: 1px solid #d6d3d3;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-sizing: border-box;
    transition: transform 0.3s, background-color 0.3s;
    cursor: pointer;
}

.container.active {
    background-color: #b7b7c9;
    transform: scale(1.05);
}

.container p {
    margin: 10px 0;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    background-color: #dd483a;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination button:disabled {
    background-color: #202020;
    cursor: not-allowed;
}

@media screen and (min-width:250px) and (max-width:780px) {
    .card {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width:780px) and (max-width:1050px) {
    .card {
        grid-template-columns: repeat(2, 1fr);
    }
}